{% extends './layouts/master.html' %}
{% block nav %}

{% include './layouts/nav.html' %}
{% endblock %}
{% block content %}
<div class='row'>
<div class='col-12 text-center position-404'>
<span class='page-404-1'>
404
</span>
<span class='page-404-2'>
404
</span>
<span class='title-1'> {{title}} </span>
<span class='title-2'> {{title}} </span>
</div>

</div>
{% endblock %}

