{% extends './layouts/master.html' %}
{% block nav %}
<div class='top'>
<div class='row '>
<div class='col-12 text-center'>
<h1> {{title}} </h1>
</div>
</div>
<hr>
{% include './layouts/nav.html' %}
</div>
{% endblock %}
{% block content %}
{% endblock %}
