body {
	font-size: 20px;
	/* color: black; */
	font-style: italic;
	background: #3E7FA4;
	color: white;
	background-image: url('/img/background.jpg');
	/* background-size: conver; */
}
.bootbox-body{
	color:black;
}
.top {
	position: absolute;
	/* height: 100%; */
	left: 50%;
	top: 25%;
	transform: translate(-50%,50%);
	/* left: 50%; */
}

.animation{
    animation: animate 0.9s ease-in-out;
}
.profile-img {
	width: 100%;
	height: 100%;
}

.position-404{
    position:relative;
}
.page-404-1 {
	font-size: 200px;
	color: white;
	position: absolute;
	left: 30%;
}

.page-404-2 {
	font-size: 200px;
	color: red;
	position: absolute;
	left: 31.4%;
}

.title-1 {
	position: absolute;
	font-size: 53px;
	color: white;
	/* outline-color: 1px blck; */
	/* left: 81%; */
	top: 185px;
	left: 50%;
	transform: translate(-50%,50%);
	width: 100%;
}
.title-2 {
	position: absolute;
	font-size: 53px;
	color: red;
	/* outline-color: 1px blck; */
	/* left: 81%; */
	top: 180px;
	left: 50%;
	transform: translate(-50%,50%);
	width: 100%;
}


#deleteB,#updateB,#cancelB,#saveB,#loadMore,#clearB{
    color: white;
}
form label{
    color: black;
    font-style: italic;
    font-weight: bold;
}
#cancelB,#saveB{
    display: none;
}
.top h1{
    font-size: 60px;
}
.homePageCard {
	/* height: 50px; */
	line-height: 62px;
	font-size: 40px;
	box-shadow: 1px 1px 2px 3px rgba(100,100,100,0.5);
	margin-left: 25px;
	padding: 20px;
}

.homePageCard:hover{
   background: #6498B6; 
   color: white;
}

.info-card {
	box-shadow: 1px 1px 4px 1px #324C5B;
	border-bottom: 7px dashed#324C5B;
}

.info-card:hover {
	background: #6498B6;
    color: white;
    border-bottom: 7px dashed#fff;

}
a:hover{
    text-decoration: none;
}



#deleteB:hover,#updateB:hover,#cancelB:hover,#saveB:hover,#loadMore:hover,#clearB:hover{
    cursor: pointer;
    background: black;
    transition: all 0.5s ease-in-out;
    font-style: normal;
}
.card {
	margin-bottom: 10px;
}

@keyframes animate{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}